.esri-full-screen-toggle {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap
}

.esri-full-screen-toggle__button {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    position: relative
}

.esri-full-screen-toggle__button:hover {
    color: #191919
}

.esri-full-screen-toggle__button:before {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 10;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    -webkit-transition: opacity 125ms ease-in-out 0ms;
    -moz-transition: opacity 125ms ease-in-out 0ms;
    -ms-transition: opacity 125ms ease-in-out 0ms;
    -o-transition: opacity 125ms ease-in-out 0ms;
    transition: opacity 125ms ease-in-out 0ms;
    opacity: 0;
    border-width: 0 6px 6px 0;
    border-color: transparent #323232 transparent transparent
}

.esri-full-screen-toggle__button--active {
    background-color: #f2f2f2;
    color: #191919
}

.esri-full-screen-toggle__button--active:before {
    opacity: 1
}

.esri-full-screen-toggle.esri-disabled .esri-full-screen-toggle__button {
    background-color: #fff;
    color: #d4d4d4;
    cursor: auto
}

.esri-full-screen-toggle.esri-disabled .esri-full-screen-toggle__button:before {
    opacity: 0
}

.esri-icon-full-screen-on:after {
  content: "\e60f";
  font-size: 18px;  
}

.esri-icon-full-screen-off:after {
  content: "\e60e";
  font-size: 18px;
}

.esri-view:-webkit-full-screen {
  width:100%!important;
  height:100%!important;
}

.esri-view.view-fullscreen-on {
  width:100%!important;
  height:100%!important;
}